* {
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 40px;
    color: rgb(60, 60, 255);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

h3 {
    margin-top: 20px;
}

p {
    margin-top: 5px;
}

header {
    background-color: rgb(144, 144, 255);
    padding: 10px 5vw;
    padding-bottom: 0;
}


header nav{
    display: flex;
    align-content: flex-start;
    margin-top: 10px;
}

header nav button {
    background-color: rgb(159, 159, 255);
    padding: 0.5rem 1.5rem;
    border-width: 2px;
    border-color: rgb(144, 144, 226);
    border-style:solid;
}

header nav button:hover {
    background-color: rgb(129, 129, 238);
    border-color: rgb(129, 129, 238);
    border-bottom-color: white;
    border-top-color: rgb(122, 122, 224);
}

main {
    padding: 50px 10vw;
}


.column {
    display: flex;
    justify-content: flex-start;
}

.left {
    width: 60%;
}

.right {
    margin-left: 5vw;
    width:40%;
}

.right img {
    width: minmax(80%, 10vw);
}

.betyg-column {
    display:flex;
    justify-content: flex-start;
    width:100%;
}

.betyg-column p:last-of-type {
    width:100%;
    color: red;
    display: flex;
    justify-content: flex-end;
}