* {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    font-family:"Inter", sans-serif;
}

h2 {
    margin-top: 40px;
    color: rgb(60, 60, 255);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

h3 {
    margin-top: 20px;
    font-family:"Inter", sans-serif;
    font-weight: 600;
}

p {
    margin-top: 8px;
    font-family:"Lora",serif;
}

header {
    background-color: rgb(144, 144, 255);
    padding: 10px 5vw;
    padding-bottom: 0;
}


header nav{
    display: flex;
    align-content: flex-start;
    margin-top: 10px;
}

header nav button {
    background-color: rgb(159, 159, 255);
    padding: 0.5rem 1.5rem;
    border-width: 2px;
    border-color: rgb(144, 144, 226);
    border-style:solid;
}

header nav button:hover {
    background-color: rgb(129, 129, 238);
    border-color: rgb(129, 129, 238);
    border-bottom-color: white;
    border-top-color: rgb(122, 122, 224);
}

main {
    padding: 30px 5vw;
    display: flex;
    justify-content: center;
}


.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.left {
    flex: 1 1 60%;
    max-width: 40rem;
}

.right {
    flex: 1 1 35%;
    max-width: 25rem;
}

.column h1 {
    margin-top: 20px;
}

.p-div {
    margin-top: 12px;
}


.column img {
    margin-top: 20px;
    border-radius: 1rem;
    max-width:30vw;
    min-width: 10rem;
}