* {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    font-family:"Inter", sans-serif;
}

h2 {
    margin-top: 40px;
    color: rgb(60, 60, 255);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

h3 {
    margin-top: 20px;
    font-family:"Inter", sans-serif;
    font-weight: 600;
}

p {
    margin-top: 8px;
    font-family:"Lora",serif;
}

a {
    margin: 10px;
    font-family:"Inter", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    background: rgb(213,255,233);
    background: linear-gradient(18deg, rgba(213,255,233,1) 0%, rgba(184,255,240,1) 12%, rgba(139,230,235,1) 30%, rgba(54,150,247,1) 73%, rgba(25,100,218,1) 100%);
    display: flex;
    align-items: center;
}

header h1 {
    color: black;
}

header nav {
    margin: 12px;
}


header nav button {
    background: rgb(167,255,195);
background: linear-gradient(18deg, rgba(167,255,195,1) 0%, rgba(155,250,231,1) 22%, rgba(118,238,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 0;
}

header nav button:hover {
    background: rgb(167,255,193);
    background: linear-gradient(18deg, rgba(167,255,193,1) 0%, rgba(143,211,223,1) 35%, rgba(118,164,255,1) 100%);
}


.dropDownContent {
    display: none;
    position: absolute;

    background: rgb(221,255,232);
    background: linear-gradient(90deg, rgba(221,255,232,1) 0%, rgba(184,255,240,1) 100%);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    z-index: 100;
}

.showDropDown {
    display: grid;
  }


main {
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
}


.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.left {
    flex: 1 1 60%;
    max-width: 40rem;
}

.right {
    flex: 1 1 35%;
    max-width: 25rem;
}

.column h1 {
    margin-top: 20px;
}

.p-div {
    margin-top: 12px;
}


.column img {
    margin-top: 20px;
    border-radius: 1rem;
    max-width:30vw;
    min-width: 10rem;
}




.banner img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: calc(100vw + 32px);
    left: -16px;
    top: -32px;
}